.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  margin-right: 7px;
}

.logo-text {
  position: relative;
  top: -13px;
  color: ActiveCaption;
  /*color: #FF8E53;*/
}

.App-header {
  background-color: #fff;
  height: 80px;
  padding: 20px 40px;
  /*color: white;*/
  margin-bottom: 40px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.red {
  color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
